<body>
    <div class="container">
        <p class="q">Explain the following with a component diagram (png image): 3-tier architecture</p>
<br>
<p class="a">
        A 3-tier architecture is a common software architecture pattern used in the development of web applications and other software systems. It divides the application into three logical tiers or layers: the presentation tier, the application or logic tier, and the data tier. Each tier serves a specific purpose and communicates with the other tiers in a well-defined manner.',
        Presentation Tier (User Interface):This is the topmost layer that interacts directly with the end-users.Components in this tier include web browsers, mobile app interfaces, and desktop application user interfaces.It is responsible for handling user input, displaying information to users, and receiving and sending requests to the application tier.',
        Application Tier (Logic Tier):Also known as the business logic or application logic tier.This tier contains the core logic of the application.Components in this tier handle tasks such as processing user requests, executing business rules, and managing application workflows.Common components in this tier include application servers, web servers, and middleware.',
        Data Tier (Data Storage):This is the bottommost layer responsible for managing and storing data.Components in this tier include databases, data warehouses, and data storage systems.It handles data retrieval, storage, and management, allowing the application tier to access and manipulate data.<br> <img src="../assets/image.png">
</p>
    </div>
</body>

