<body>
    <div class="container">
        <p class="q">What is a single page application?</p>
    <br>
    <p class="a">
        'A Single Page Application (SPA) is a web application or website that operates within a single web page. Unlike traditional multi-page web applications, where each interaction with the website typically involves loading a new web page from the server, SPAs load a single HTML page and dynamically update the content as the user interacts with the application. This approach provides a more fluid and responsive user experience.
    </p>
    </div>
</body>

