<body>
    <div class="container">
        <p class="q">What is AJAX? Explain with examples.</p>
<br>
<p class="a">
    'AJAX, which stands for "Asynchronous JavaScript and XML," is a set of web development techniques that allows you to create interactive and dynamic web applications by sending and receiving data from a web server without having to reload the entire web page. AJAX leverages a combination of technologies, including JavaScript, XML (though JSON is more commonly used today), and HTTP requests, to achieve this asynchronous communication.',
</p>
    </div>
</body>

