<body>
    <div class="container">
        <p class="q">What is a component in angular?</p>
        <br>
        <p class="a">
            'In Angular, a component is one of the fundamental building blocks of an application. It is a TypeScript class that is decorated with the @Component decorator and is responsible for defining a part of the user interface (UI) and its behavior. Components are used to encapsulate specific sections or features of a web application, making it easier to manage and maintain the codebase.
        </p>
    </div>
</body>


