<body>
    <div class="container">
        <p class="q">What is a component in angular?</p>
<br>
<p class="a">
    'In Angular, a component is one of the fundamental building blocks of an application. It is a TypeScript class that is decorated with the @Component decorator and is responsible for defining a part of the user interface (UI) and its behavior. Components are used to encapsulate specific sections or features of a web application, making it easier to manage and maintain the codebase.
</p>
<p class="q">Explain with syntax the following directives: <br>a) ngFor<br></p>
<p class="a">
    'ngFor is a structural directive in Angular used for iterating over a collection of items.<br>It has the following syntax:<br>div *ngFor="let item of items"<br>item<br>/div',
</p>
<br>
<p class="q">b) ngIf</p>
<p class="a">
    ngIf is a structural directive used for conditionally rendering elements.
It has the following syntax:

div *ngIf="condition">
Content to display when condition is true.
/div
</p>

    </div>
</body>




